<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yoruba.talomoo"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />

    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="locale|layoutDirection"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".FirstRun"
            android:configChanges="locale|layoutDirection"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUpAndLogin"
            android:configChanges="locale|layoutDirection"
            android:label="@string/title_activity_sign_up_and_login"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yoruba.talomoo.MainActivity" />
        </activity>
        <activity
            android:name=".QuestionSelection"
            android:configChanges="locale|layoutDirection"
            android:parentActivityName=".CategoryActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yoruba.talomoo.CategoryActivity" />
        </activity>
        <activity
            android:name=".CategoryActivity"
            android:configChanges="locale|layoutDirection"
            android:label="@string/title_activity_list"></activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <activity
            android:name="com.facebook.LoginActivity"
            android:configChanges="locale|layoutDirection"
            android:label="@string/title_activity_facebook_login"></activity>
        <activity
            android:name=".SettingsActivity"
            android:configChanges="locale"
            android:label="@string/action_settings"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yoruba.talomoo.MainActivity" />
        </activity>

        <provider
            android:name=".AppContentProvider"
            android:authorities="com.yoruba.talomoo.AppContentProvider"
            android:exported="false"
            android:multiprocess="true" />

        <activity
            android:name=".QuestionsActivity"
            android:configChanges="locale|layoutDirection"
            android:label="@string/title_activity_questions"
            android:parentActivityName=".QuestionSelection"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yoruba.talomoo.QuestionSelection" />
        </activity>
        <activity
            android:name=".Login"
            android:configChanges="locale|layoutDirection"
            android:label="@string/title_activity_login"></activity>
    </application>

</manifest>
